/*
 * Feuille partielle avec déclaration des variables */

/*
 * Shorthand de la propriété font. Regroupe :
 * - font-weight
 * - font-size
 * - font-family */
$font: 400 62.5% 'Open Sans', Arial, Helvetica, sans-serif;
$font-color: #fff;
$base-font-size: 1.4rem;
$base-line-height: 2.6rem;
$bg-color: #f00;
$border-color: yellow;
$max-width: 736px;

$max-width2: 324px;
